# django
psycopg2-binary
# django-allauth

# required in Mask R-CNN below
numpy
scipy
pillow
cython
matplotlib
scikit-image
tensorflow==1.15.0
keras==2.3.1
opencv-python
h5py==2.10.0
imgaug
IPython[all]

pandas
openpyxl
xlrd
xlwt
